@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
*{
  margin:0;
  padding:0;
}
.overall{
  background:#1D2123;
}
.nav{
  background:#1D2123;
}
.nav-dropdown{
  height:500px;
}
.nav-item h6{
  color: rgba(239, 238, 224, 0.25);
  font-family:Quicksand;
  font-size:17px;
}
.hamburger{
  width:24px;
  height:24px;
  
}
.bar-icon{
  width:29.78px;
  height:29.78px;
  color: rgba(239, 238, 224, 0.25)!important;
}
.bar-icon.active{
  color:#FACD66;
}
.app-logo{
  width:44px;
  height:34px;
}
.search-input{
  width:100%;
}
*:focus{
  outline:none
}
.search{
  background:#1D2123;
  color:white;
}
.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#1E1E1E;
  opacity: 1; /* Firefox */
  font-family:'Quicksand';
  font-weight:600;
}

.search:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#1E1E1E;
  font-family:'Quicksand';
  font-weight:600;
}

.search::-ms-input-placeholder { /* Microsoft Edge */
  color:#1E1E1E;
  font-family:'Quicksand';
  font-weight:600;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #1D2123;
  position: fixed;
  top:80px;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #1D2123;
  padding: 16px;
  text-decoration: none;
}
 .icon-div-1{
  background:#1E1E1E;
  width:50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 }

 .icon-div-2{
  background:#1E1E1E;
  width:50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 }
.hero-div{
  margin-top:70px;
  padding:30px;
}
.hero-accomodate{
  position:relative;
}
.hero-section-text{
  position:absolute;
  top: 17px;
  left: 25px;
  height:100%;
}
.hero-img{

  background-position: center center;    
  
}
.hero-paragraph{
  width:250px;
}
.carousel{
  width:100%!important;
  height:100%;

}
.inner-carousel{
  display:flex;
  overflow:scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.music-chart-card{
  width:16rem; 
  min-width:16rem;
  background: #1A1E1F;
  border-radius: 20px;
}
.heart2{
  width:27px;
  height:27px;
  border:1px solid #FACD66; 
  border-radius: 50% ;
}
@media only screen and (min-width:319px) and (max-width:320px){
  .hero-paragraph{
    width:200px!important ;
  }
}
@media only screen and (min-width:340px){
  .hero-img{
    border-radius:20px;
  }
  .mini-hero-div{
    height:180px;
  }
}
@media only screen and (min-width:768px){
  .search-input{
    justify-content:start!important;
  }
  .search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.25);
    opacity: 1; /* Firefox */
  }
  
  .search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.25);
  }
  
  .search::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.25);
  }
  .search-icon{
    width:16px;
    height:16px;
  }
  .hero-div{
  
    margin-left:80px;
  }
  .hero-img{
    background-attachment: scroll;
    background-position: center;
    background-size:600px!important;
  }
  .hero-section-text{
    height:300px;
  }
  .music-chart-card{
    width:270px!important;
    min-width: 270px!important;
  }
   .rectangle{
    height: 60px;
   }
}
@media only screen and (min-width:992px){
  .hero-img{
    background-size:950px!important;
  }
  .hero-section-text{
    height:320px;
  }
  .music-chart-card{
    width: 280px!important;
    min-width: 280px!important;
  }
  .rectangle{
    height: 40px;
  }
  .music-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start!important;
  }
}
@media only screen and (min-width:1200px){
  .hero-img{
    background-size:700px!important;
  }
  .hero-section-text{
    height:370px;
  }
  .hero-div{
    height:1000px;
  }
}