@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
*{
  margin:0;
  padding:0;
}
.overall{
  background:#1D2123;
}
.default-nav{
  position : fixed;
  top : 0;
  z-index:3;
  background: #1D2123;
  width:100%;
  padding: 30px;
}
.navy{
  position: fixed;
  top:0;
  z-index: 3;
  background:transparent;
  width: 100%;
  padding:30px;
}
.nav-dropdown{
  height:500px;
  background:#1D2123;
}
.dropdown {
  background-color: white;
  font-family:Quicksand;
}

.nav-item h6{
  color: rgba(239, 238, 224, 0.25);
  font-family:Quicksand;
  font-size:17px;
}
.hamburger{
  width:24px;
  height:24px;
  
}
.bar-icon{
  width:29.78px;
  height:29.78px;
  color: rgba(239, 238, 224, 0.25)!important;
}
.bar-icon.active{
  color:#FACD66;
}
.app-logo{
  width:44px;
  height:34px;
}
.search-input{
  width:100%!important;
}
*:focus{
  outline:none
}
.search{
  background:transparent;
  color:white;
}
.search-icon{
  width:24px;
}
.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#1E1E1E;
  opacity: 1; /* Firefox */
  font-family:'Quicksand';
  font-weight:600;
}

.search:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#1E1E1E;
  font-family:'Quicksand';
  font-weight:600;
}

.search::-ms-input-placeholder { /* Microsoft Edge */
  color:#1E1E1E;
  font-family:'Quicksand';
  font-weight:600;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 100px;
  position: fixed;
  top:80px;
  height: 100%;
  overflow: auto;
}
.search-result-div{
  position: absolute;
  padding-top:10px;
  padding-bottom: 15px;
  border-radius: 5px;
  left:40px;
  width: 225px;
  z-index:2;
  font-family:Quicksand;
  background: #1D2123;
}
.sidebar a {
  display: block;
  color: #1D2123;
  padding: 16px;
  text-decoration: none;
}
 .icon-div-1{
  background:#1E1E1E;
  width:50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 }

 .icon-div-2{
  background:#1E1E1E;
  width:50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 }
 .hero-section-title{
  font-family: Quicksand;
 }
.hero-div{
  margin-top:70px;
  padding:30px;
  height:1000px;
}
.hero-accomodate{
  position:relative;
}
.hero-section-title-2{
  font-family: Quicksand;
  font-size: 35px;
 }
.hero-section-text{
  position:absolute;
  top: 17px;
  left: 25px;
  height:100%;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}
.hero-img{
  background-position: center center;    
}
.hero-paragraph{
  width:250px;
}
.top-chart{
  font-family: Quicksand;
  font-weight: 700;
  font-size: 20px;
}
.carousel{
  width:100%!important;
  height:100%;

}
.inner-carousel{
  display:flex;
  overflow:scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.inner-carousel::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.music-chart-card{
  width:16rem; 
  min-width:16rem;
  background: #1A1E1F;
  border-radius: 20px;
}
.chart-card-header{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
}
.chart-card-artist{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.5);
}
.chart-card-playtime{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}
.heart2{
  width:27px;
  height:27px;
  border:1px solid rgba(255, 255, 255, 0.11); 
  border-radius: 50% ;
  cursor: pointer;
}
.artiste-profile{
 padding-top:80px;
 padding-left: 30px;
 font-family: Quicksand;
 height:1000px;
}
.artiste-img{
  width: 90px;
  height:90px;
  border-radius:50%;
}
.audio-player{
  position: fixed;
  bottom: 0px;
  --primary: pink;
  display: flex;
  width:100%;
  height: 125px;
  background: rgba(29, 33, 35, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: Quicksand;
  filter: drop-shadow(0px -25px 100px rgba(16, 16, 16, 0.51));
  backdrop-filter: blur(15px);
  padding-left: 40px;
  padding-top:40px;
}
.song-cover-art{
  width:49px;
  height:49px;
  box-shadow: 0px 15px 17px -10px rgba(0, 0, 0, 0.61);
  border-radius: 14px;
}
.song-title{
  font-weight:700;
  font-size:14px;
}
.artiste-name{
  font-size:10px;
}
.duration{
  margin-left:5px;
}
.forward-backward{
  background: none;
  border:none;
  display:flex;
  align-items:center;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
}
.forward-backward:hover{
  color: var(--primary)
}
.play-pause{
  background: #FACD66;
  box-shadow: 0px 0px 24.552px rgba(255, 255, 255, 0.3);
  border-radius: 135px;
  padding: 10px;
  width: 34px;
  height: 34px;
}
.progress-bar{
  --bar-bg: #ffe3d4;
  --seek-before-width:0;
  --seek-before-color:#FACD66;
  --knobby:#FACD66;
  --selectedknobby:#FACD66;

  appearance: none;
  background: var(--bar-bg);
  position: relative;
  height:5px;
  outline:none;
  border-radius: 20px;
}
.volume{
  width:18px;
  height:18px;
}

/*progress bar safari*/
.progress-bar::-webkit-slider-runnable-track{
  background: var(--bar-bg);
  position: relative;
  width:100%;
  height:11px;
  outline:none;
}
/*progress bar safari*/
.progress-bar::moz-range-track{
  background: var(--bar-bg);
  position: relative;
  width:100%;
  height:11px;
  outline:none;
}
.progress-bar::moz-focus-outer{
  border:0;
}

/*progress bar safari*/
.progress-bar::before{
  content: "";
  height:11px;
  width: var(--seek-before-width);
  background-color:var(--seek-before-color);
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  cursor:pointer;
}
/*progress-bar firefox*/
.progress-bar::-moz-range-progress{
  background-color:var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius:10px;
  height:11px; 
}
/*knobby chrome and sfari*/
.progress-bar::-webkit-slider-thumb{
  -webkit-appearance: none;
  height:55px;
  width:15px;
  border-radius:50%;
  border: none;
  background-color:var(--knobby);
  cursor:pointer;
  position: relative;
  margin:-2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}
/* knobby while dragging chrome and safari*/
.progress-bar:active::-webkit-slider-thumb{
  transform: scale(1.2);
  background:var(--selectedknobby);
}
/* knobby firefox*/
.progress-bar::-moz-range-thumb{
  height:15px;
  width:15px;
  border-radius:50%;
  border: transparent;
  background-color:var(--knobby);
  cursor:pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}
/* knobby while dragging firefox*/
.progress-bar:active::-moz-range-thumb{
  transform: scale(1.2);
  background:var(--selectedknobby);
}
.chart-category{
  position: relative;
  top:100px;
  padding-left: 30px;
  font-family: Quicksand;
  }
  .chart-header{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #A4C7C6;
  }
  .chart-paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #EFEEE0;
  }
  .red-heart{
    width: 16px;
    height: 16px;
  }

  .chart-icon-div{
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(5px);
    border-radius: 32px;
  
  }
  .chart-icon-div p{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
  }
  .chart-duration{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .chart-songs{
    width:100%;
  }
  .chart-songs-div{
    width:100%;
    background: rgba(51, 55, 59, 0.37);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    height: 56px;
  }
  .chart-coverart{
    width:39px;
    height:39px;
    border-radius:9px;
  }
  .white-heart{
    width:20px;
    height:20px;
  }
  .chart-song-title{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }
  .chart-artsite{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
  }
  .more-icon{
    width:14px;
    height:14px;
  }
  .song-duration{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }
@media only screen and (min-width:319px) and (max-width:320px){
  .search-icon{
    position: relative;
    right: 40px!important;
  }
  .hero-paragraph{
    width:200px!important ;
  }
  .top-chart{
    padding-top: 10px;
  }
  .music-info{
    margin-top:20px;
  }
  .chart-img{
    width: 260px;
  }
  .chart-card-playtime{
    margin-top: 20px;
  }
  .audio-player{
    padding-right:40px;
  }
  .overall{
    height: 1000px;
  }
  .nav-dropdown{
    position: relative;
    right: 24px!important;
    width:100vw!important;
    height: 800px;
  }
  .rectangle{
    width: 108px;
    height: 99px;
    border-radius: 10px;
  }
}
@media only screen and (min-width:340px) and (max-width:600px){
  .chart-img{
    width: 370px;
  }
  .rectangle{
    width: 108px;
    height: 99px;
    border-radius: 10px;
  }
}
@media only screen and (min-width:340px){
  .hero-img{
    border-radius:20px;
  }
  .mini-hero-div{
    height:180px;
  }
  .top-chart{
    padding-top: 10px;
  }
  .music-info{
    margin-top:20px;
  }
  .chart-card-playtime{
    margin-top: 15px;
  }
  .audio-player{
    padding-right:40px;
  }
  .overall{
    height: 1000px;
  }
  .nav-dropdown{
    position: relative;
    right: 25px!important;
    width:100vw!important;
    height: 800px;
  }
  .chart-icon-div{
    padding:5px 10px;
  }

}
@media only screen and (min-width:768px){
  .search-input{
    justify-content:start!important;
  }
  .search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.25);
    opacity: 1; /* Firefox */
  }
  
  .search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.25);
  }
  
  .search::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.25);
  }
  .search-icon{
    width:16px!important;
    height:16px !important;
  }
  .search-result-div{
    position: absolute;
    left:120px;
  }
  .hero-div{
    margin-left:80px;
  }
  .hero-img{
    background-attachment: scroll;
    background-position: center;
    background-size:600px!important;
  }
  .hero-section-text{
    height:300px;
  }
  .music-info{
    margin-top:20px;
  }
  .music-chart-card{
    width:270px!important;
    min-width: 270px!important;
  }
   .rectangle{
    height: 62px;
    border-radius: 10px;
   }
   .chart-card-playtime{
    margin-top: 15px;
  }
 
  .progress-bar{
    width:500px!important;
  }
  .control-icons-div{
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width:100%!important;
  }
  .audio-player{
    padding-left: 100px;
    padding-right: 50px;
  }
  .progress-bar{
    width: 320px!important;
  }
  .progress-bar-2{
    width:100px!important;
  }
  .chart-category{
    position: relative;
    top:80px;
    margin-left: 70px;
    }
    .chart-img{
      width: 284px;
      height: 288px;
    }
}
@media only screen and (min-width:992px){
  .hero-img{
    background-size:950px!important;
  }
  .hero-section-text{
    height:320px;
  }
  .top-chart{
    padding-bottom: 0px!important;
  }
  .music-chart-card{
    width: 280px!important;
    min-width: 280px!important;
    height: 90px;
    margin-top:10px;
  }
  .music-info{
    display: flex;
    flex-direction: column;
    margin-top: -0px!important;
  }
  .chart-card-artist{
    margin-top: 3px;
  }
  .chart-card-header{
    font-size: 14px;
  }
  .chart-card-playtime{
    margin-top: 5px;
  }
  .heart-icon-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
  .audio-player{
    padding-left: 120px;
  }
   .progress-bar{
    width:500px!important;
   }
   .progress-bar-2{
    width: 100px !important;
   }
}
@media only screen and (min-width:1200px){
  .hero-img{
    background-size:700px!important;
  }
  .hero-section-text{
    height:340px;
  }
  .hero-div{
    height:1000px;
  }
  .music-chart-card{
    width: 500px!important;
    min-width: 500px!important;
    margin-top:12px!important;
  }
  .audio-player{
    padding-left: 120px;
    padding-right:200px;
  }
   .progress-bar{
    width:650px!important;
   }
   .progress-bar-2{
    width: 100px !important;
   }
}